In [116]:
for i in range(2000,3000):
    if i % 7==0 and i %5!=0:
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,

In [224]:
firstname= input("enter firtname")
lastname= input("enter last name")
print(lastname,firstname)

enter firtnamePrabhakar
enter last namePalpandi
Palpandi Prabhakar

In [225]:
pi=3.1415
r=6
v=4/3*pi*r**3
print(v)

904.752

In [222]:
l=[]
name=['first name','Last name']
for i in range(len(name)-1,-1,-1):
    l.append(name[i])
print(l)

['Last name', 'first name']

In [117]:
l= []
l.append("prabha")
l.append(["dsahjk","basjbxsjabx"])
l.insert(1,["prabhakar"])

In [118]:
l

['prabha', ['prabhakar'], ['dsahjk', 'basjbxsjabx']]

In [75]:
l[0:4:2]

['prabha', ['dsahjk', 'basjbxsjabx']]

In [76]:
l[0][0]

'p'

In [66]:
list(l[0])

['p', 'r', 'a', 'b', 'h', 'a']

In [88]:
for i in list(['prabha',1,2,3,'pavanisha']):
    if type(i)== str:
        print(i)

prabha
pavanisha

In [96]:
for i in list([1,4,5,6,7,8,"papu"]):
    if type(i)== int:
        print(i)

1
4
5
6
7
8

In [108]:
l=[]
for i in [12,5,2,3,3,"prabha",["ddsd","cdf","sdrfr"]]:
    if type(i)== list:
        for j in i[::-1]:
            l.append(j[::-1])
l

['rfrds', 'fdc', 'dsdd']

In [157]:
l=[]
for i in [1,2,4,5,6,"prabha",["pavi","pava","pavanisha"]]:
    if type(i)== list:
        for j in i[::-1]:
            l.append(j[::-1])
l

['ahsinavap', 'avap', 'ivap']

In [112]:
l=[1,2,3,45,6]
ll=["prabha","prbaak"]
l+ll

[1, 2, 3, 45, 6, 'prabha', 'prbaak']

In [142]:
l=[]
for i in (["Prabhakar"],["Palpandi"]):
    if type(i)== list:
        l.append(i[::-1])

In [155]:
l=[]
for i in ["first name","last name"]:
    print(i[::-1], end=" ")

eman tsrif eman tsal

In [166]:
l=[]
for i in [1,2,2,3,["First name","last name"]]:
    if type(i)== list:
        for j in i[::-1]:
            l.append(j)
l

['last name', 'First name']

In [213]:
l=[]
name=['first name','Last name']
for i in range(len(name)-1,-1,-1):
    l.append(name[i])
print(l)

['Last name', 'first name']

In [167]:
a = "firstname"
b= "lastname"
c=a+" "+b
print(c[::-1], end=" ")

emantsal emantsrif

In [169]:
name= "prabhakar Palpani"
a=reversed(name.split(' '))
a

In [172]:
number= [1,2,3,45,6,78,9,10,]
sum=0
for i in number:
    sum=sum+i
print("the sum is",sum)

the sum is 154

In [176]:
n=100
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

5050

In [177]:
range(0,10)

range(0, 10)

In [181]:
list(range(10,0,-3))

[10, 7, 4, 1]

In [192]:
    l=[12,5,2,3,3,"prabha","ndjfnk","dsjbskd"]
    for i in range(0,len(l),2):
        print(l[i], end=" ")

12 2 3 ndjfnk

In [193]:
list(range(0,len(l),2))

[0, 2, 4, 6]

In [204]:
l=[12,5,2,3,3,"prabha","ndjfnk","dsjbskd"]
for i in range(len(l),0):
    print(l[i])

In [205]:
l=[12,"pop","prabha","ndjfnk","dsjbskd"]
for i in range(0,len(l),2):
    print("I like",l[i])

I like 12
I like prabha
I like dsjbskd